#!/usr/bin/env

# Your Matrix Access Token (Get this from Element settings)
MATRIX_TOKEN=""

# Your Homeserver URL (e.g., https://matrix.org or https://matrix.yourdomain.com)
MATRIX_HOMESERVER="https://matrix.org"

# The Room ID to fetch state from
MATRIX_ROOM_ID="!OGEhHVWSdvArJbQdhm:matrix.org"
