#!/usr/bin/env

# Your Matrix Access Token (Get this from Element settings)
#MATRIX_TOKEN="syt_..."
MATRIX_TOKEN="mct_..."

# Your Homeserver URL (e.g., https://matrix.org or https://matrix.yourdomain.com)
#MATRIX_HOMESERVER="https://matrix.unredacted.org"
MATRIX_HOMESERVER="https://matrix.org"

# The Room ID to fetch state from
# NOTE: it's better for privacy reasons to choose a space rather than room, as spaces lack messages

# [ROOM - Matrix HQ, new] #community:matrix.org
#MATRIX_ROOM_ID="!L58ME6ufiP49v97UIOBIpvWKEgj4912JmECPuDzlvCI"
# [ROOM - old, unjoinable] #community:matrix.org
#MATRIX_ROOM_ID="!OGEhHVWSdvArJbQdhm:matrix.org"
# [SPACE] #space:unredacted.org
#MATRIX_ROOM_ID="!BDSybzDpGyDxMHZzpN:unredacted.org"
# [SPACE - Matrix Community ~28K members] #community:matrix.org
MATRIX_ROOM_ID="!iMZEhwCvbfeAYUxAjZ:t2l.io"
